<div class="ion-page" id="main-content">
  <ion-header [translucent]="true" class="ion-no-border" no-border>
    <ion-toolbar class="ion-no-border" no-border>
      <ion-buttons slot="start" class="text-color">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-no-border" no-border>
        <p class="header-style" class="ion-no-border" no-border>
          <ion-row class="ion-no-border text-centre" no-border>
            <ion-col text-left class="ion-no-border" no-border>
              <img class="header_logo" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr" float-left>
            </ion-col>
            <ion-col text-center class="ion-no-border text-centre" no-border>
              <p color="azure" class="text-color text-header">A PROPOS</p>
            </ion-col>
            <ion-col text-right class="ion-no-border header_button" no-border>
              <ion-button class="header_button" color="primary" (click)="deconnecterClick()" icon-only float-right>
                <ion-icon name="exit-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="text-centre">
    <ion-item></ion-item>
    <img class="login_logo" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr">
    <ion-item></ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">L'application i-Tsirika est une application conçu et développé par l'équipe informatique de la direction générale de la sécurité routière, elle a pour objectif d'aidé les autorités compétentes dans l’exécution des contrôles routiers et ceux soit par saisie du numéro d'immatriculation, soit par scan du QR-code sur les procès-verbaux et aussi l'exécution du contrôle inopiné.</ion-text>
    </ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">Développeur en charge : ANDRIANTSOA Husayn Mozart</ion-text>
    </ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">Contact : husaynmozart&#64;gmail.com</ion-text>
    </ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">Site web de la direction générale de la sécurité routière :<br>https://dgsrmada.com/</ion-text>
    </ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">Boîte postale :<br>784</ion-text>
    </ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">Contact de la DGSR :<br>(0/+261)34 77 777 03</ion-text>
    </ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">Mail service informatique :<br>dgsrsit&#64;gmail.com</ion-text>
    </ion-item>
    <ion-item class="text-centre">
      <ion-text class="text-centre">Page Facebook : DGSR Mada</ion-text>
    </ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>

  </ion-content>
</div>
