<div class="ion-page" id="main-content">
  <ion-header [translucent]="true" class="ion-no-border" no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Photo</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="titre_photo">Photo à prendre sur le véhicule :<br />{{ photo_titre }}</div>

    <br />

    <ion-button expand="block" color="primary" (click)="prendrePhoto()">
      <ion-icon name="reverse-camera"></ion-icon>
      Prendre photo
    </ion-button>

  </ion-content>
</div>
