<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Authentification</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="deconnecterClick()">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content color="azure">
    <ion-card class="">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="4">
              <img class="center" src="../../assets/image/logo_dgsr.png" width="20" alt="logo_dgsr">
            </ion-col>
            <ion-col size="4"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center">Insérer votre identifiant ici</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <label>
                <ion-input label="Nom d'utilisateur : " labelPlacement="floating" placeholder="Entrer votre nom d'utilisateur ici ..." [(ngModel)]="username" clearInput="true" ></ion-input>
              </label>

              <label>
                <ion-input type="password" label="Mot de passe : " labelPlacement="floating" placeholder="Entrer votre mot de passe ici ..." [(ngModel)]="password" clearInput="true" >
                  <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
              </label>

              <label>
                <ion-button expand="block" color="primary" (click)="signIn()">
                  Se connecter
                </ion-button>
              </label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>

<!-- <div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true" class="ion-no-border" no-border>
      <ion-toolbar class="ion-no-border" no-border>
        <ion-buttons slot="start" class="text-color">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-no-border" no-border>
          <p class="header-style" class="ion-no-border" no-border>
            <ion-row class="ion-no-border ion-align-items-center" no-border>
              <ion-col text-left class="ion-no-border header-logo" no-border>
                <img class="header_logo_left" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr" float-left>
              </ion-col>
              <ion-col text-center class="ion-no-border text-centre" no-border>
                <p class="text-color">LOGIN<br />i-Tsirika</p>
              </ion-col>
              <ion-col text-right class="ion-no-border header_button" no-border>
                <ion-button class="header_button" color="primary" (click)="deconnecterClick()" icon-only float-right>
                  <ion-icon name="exit-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </p>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <br>
    <img class="login_logo" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr">
    <h4 text-center margin-top class="login-style">Insérer votre identifiant ici</h4>
    <br>

    <ion-item>
      <ion-input label="Nom d'utilisateur : " labelPlacement="floating" placeholder="Entrer votre nom d'utilisateur ici ..." [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Mot de passe : " labelPlacement="floating" placeholder="Entrer votre mot de passe ici ..." [(ngModel)]="password"></ion-input>
    </ion-item>

    <br>

    <div text-center margin-top>
      <ion-button expand="block" fill="outline" color="secondary" class="custom-button" (click)="signIn()" size="large">
        Connexion
      </ion-button>
    </div>

    <br>
    <div class="message">{{ message_connection }}</div>

    <ion-item></ion-item>
    <ion-item></ion-item>

  </ion-content>
</div> -->