<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true" class="ion-no-border" no-border>
      <ion-toolbar class="ion-no-border" no-border>
        <ion-buttons slot="start" class="text-color">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-no-border" no-border>
          <p class="header-style" class="ion-no-border" no-border>
            <ion-row class="ion-no-border ion-align-items-center" no-border>
              <ion-col text-left class="ion-no-border header-logo" no-border>
                <img class="header_logo_left" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr" float-left>
              </ion-col>
              <ion-col text-center class="ion-no-border text-centre" no-border>
                <p class="text-color">LOGIN<br />i-Tsirika</p>
              </ion-col>
              <ion-col text-right class="ion-no-border header_button" no-border>
                <ion-button class="header_button" color="primary" (click)="deconnecterClick()" icon-only float-right>
                  <ion-icon name="exit-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </p>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <br>
    <img class="login_logo" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr">
    <h4 text-center margin-top class="login-style">Insérer votre identification ici</h4>
    <br>

    <ion-item>
      <ion-input label="Nom d'utilisateur : " labelPlacement="floating" placeholder="Entrer votre nom d'utilisateur ici ..." [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Mot de passe : " labelPlacement="floating" placeholder="Entrer votre mot de passe ici ..." [(ngModel)]="password"></ion-input>
    </ion-item>

    <br>

    <div text-center margin-top>
      <ion-button expand="block" fill="outline" color="secondary" class="custom-button" (click)="signIn()" size="large">
        Connexion
      </ion-button>
    </div>

    <br>
    <div class="message">{{ message_connection }}</div>

    <ion-item></ion-item>
    <ion-item></ion-item>

    <!-- <ion-alert
      [isOpen]="isAlertOpen"
      header="Pas de connexion"
      message="{{ message_connection }}"
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
    ></ion-alert> -->

  </ion-content>
</div>
