ion-list ion-item ion-input {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
ion-list ion-item ion-select {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
ion-list ion-item ion-select ion-select-option {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
ion-list ion-item ion-button {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
ion-list ion-item ion-checkbox {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
ion-datetime {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}