<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true" [style.visibility]="content_visibility">
    <ion-header [translucent]="true" class="ion-no-border" no-border>
      <ion-toolbar class="ion-no-border" no-border>
        <ion-buttons slot="start" class="text-color">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-no-border" no-border>
          <p class="header-style" class="ion-no-border" no-border>
            <ion-row class="ion-no-border text-centre" no-border>
              <ion-col text-center class="ion-no-border text-centre" no-border>
                <p color="azure" class="text-color text-header">QR_CODE<br>SCANNER</p>
              </ion-col>
              <ion-col text-right class="ion-no-border header_button" no-border>
                <img class="header_logo_right" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr" float-right>
              </ion-col>
            </ion-row>
          </p>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-button
      expand="block"
      class="ion-margin"
      (click)="startScan()">
      Scan QR Code
    </ion-button>

    <!-- <ion-button
      expand="block"
      class="ion-margin"
      (click)="testClick()">
      Scan QR Code teste
    </ion-button> -->

    <div *ngIf="content_visite_visibility">
      <ion-segment (ionChange)="visiteTabChanged($event)" value="visite">
        <ion-segment-button value="visite">
          <ion-label>
            Visite
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="vehicule">
          <ion-label>
            Véhicule
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="proprietaire">
          <ion-label>
            Propriétaire
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      <!-- affichage information visite -->
      <ion-list *ngIf="segment_visite === 'visite'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro d'immatriculation : </ion-text><br>
            {{ immatriculation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro de controle : </ion-text><br>
            {{ numero_controle }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Imprimer technique associer : </ion-text><br>
            {{ imprimer }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Centre : </ion-text><br>
            {{ centre }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Type de visite : </ion-text><br>
            {{ type_visite }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Usage : </ion-text><br>
            {{ usage }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Vérificateur : </ion-text><br>
            {{ verificateur }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Sécretaire : </ion-text><br>
            {{ secretaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date de visite : </ion-text><br>
            {{ date_visite }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date d'expiration : </ion-text><br>
            {{ date_expiration }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Utilisation : </ion-text><br>
            {{ utilisation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Aptitude : </ion-text><br>
            {{ aptitude }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Anomalie : </ion-text><br>
            {{ anomalie }}
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- affichage information véhicule -->
      <ion-list *ngIf="segment_visite === 'vehicule'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro dans la série du type : </ion-text><br>
            {{ numero_de_serie }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro moteur : </ion-text><br>
            {{ numero_moteur }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Puissance : </ion-text><br>
            {{ puissance }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Cylindre</ion-text><br>
            {{ cylindre }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Source d'énergie : </ion-text><br>
            {{ energie }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Genre : </ion-text><br>
            {{ genre }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Marque : </ion-text><br>
            {{ marque }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Carrossérie : </ion-text><br>
            {{ carrosserie }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nombre de place assise : </ion-text><br>
            {{ nombre_place_assises }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nombre de place debout : </ion-text><br>
            {{ nombre_place_debout }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids à vide : </ion-text><br>
            {{ pav }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Charge utile : </ion-text><br>
            {{ cu }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids total à charge : </ion-text><br>
            {{ ptac }}
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- affichage information propriétaire -->
      <ion-list *ngIf="segment_visite === 'proprietaire'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nom : </ion-text><br>
            {{ proprietaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Adresse : </ion-text><br>
            {{ adresse_proprietaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Téléphone : </ion-text><br>
            {{ telephone }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Profession : </ion-text><br>
            {{ profession }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Commune : </ion-text><br>
            {{ commune }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="content_reception_visibility">
      <ion-segment (ionChange)="receptionTabChanged($event)" value="reception">
        <ion-segment-button value="reception">
          <ion-label>
            Réception
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="vehicule">
          <ion-label>
            Véhicule
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      <!-- affichage information réception -->
      <ion-list *ngIf="segment_reception === 'reception'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro d'immatriculation : </ion-text><br>
            {{ immatriculation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro de controle : </ion-text><br>
            {{ numero_controle }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Imprimer technique associer : </ion-text><br>
            {{ imprimer }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Centre : </ion-text><br>
            {{ centre }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Type de reception : </ion-text><br>
            {{ type_reception }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Motif de réception : </ion-text><br>
            {{ motif }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Sécretaire : </ion-text><br>
            {{ secretaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date de réception : </ion-text><br>
            {{ date_reception }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Utilisation : </ion-text><br>
            {{ utilisation }}
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- affichage information véhicule -->
      <ion-list *ngIf="segment_reception === 'vehicule'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro dans la série du type : </ion-text><br>
            {{ numero_serie }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro moteur : </ion-text><br>
            {{ numero_moteur }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Puissance : </ion-text><br>
            {{ puissance }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Cylindre</ion-text><br>
            {{ cylindre }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Source d'énergie : </ion-text><br>
            {{ energie }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Genre : </ion-text><br>
            {{ genre }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Marque : </ion-text><br>
            {{ marque }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Carrossérie : </ion-text><br>
            {{ carrosserie }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Type</ion-text><br>
            {{ type }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nombre de place assise : </ion-text><br>
            {{ nombre_place_assises }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nombre de place debout : </ion-text><br>
            {{ nombre_place_debout }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids à vide : </ion-text><br>
            {{ poids_a_vide }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Charge utile : </ion-text><br>
            {{ charge_utile }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids total à charge : </ion-text><br>
            {{ poids_total_a_charge }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date de mise en service</ion-text><br>
            {{ date_mise_en_service }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nom : </ion-text><br>
            {{ proprietaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Adresse : </ion-text><br>
            {{ adresse_proprietaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Profession : </ion-text><br>
            {{ profession }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="content_constatation_visibility">
      <ion-segment (ionChange)="constatationTabChanged($event)" value="constatation">
        <ion-segment-button value="constatation">
          <ion-label>
            Constatation
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="carte_grise">
          <ion-label>
            Carte<br>grise
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="corps_vehicule">
          <ion-label>
            Corps du<br>véhicule
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="note_descriptive">
          <ion-label>
            Note<br>descriptive
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      <!-- affichage information constatation -->
      <ion-list *ngIf="segment_constatation === 'constatation'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Immatriculation : </ion-text><br>
            {{ immatriculation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">centre : </ion-text><br>
            {{ centre }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro de controle : </ion-text><br>
            {{ numero_ctrl }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Imprimer technique associer : </ion-text><br>
            {{ imprimer }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Vérificateur : </ion-text><br>
            {{ verificateur }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Provenance: </ion-text><br>
            {{ provenance }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Etat: </ion-text><br>
            {{ etat }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Sécurité personne: </ion-text><br>
            {{ sec_pers }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Sécurité marchandise: </ion-text><br>
            {{ sec_march }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Protection environnement: </ion-text><br>
            {{ protec_env }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date d'embarquement: </ion-text><br>
            {{ date_embarquement }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Lieu d'embarquement: </ion-text><br>
            {{ lieu_embarquement }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Conformité: </ion-text><br>
            {{ conformite }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Observation: </ion-text><br>
            {{ observation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Sécretaire : </ion-text><br>
            {{ secretaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Divers : </ion-text><br>
            {{ divers }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date de constatation : </ion-text><br>
            {{ date_constatation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nom : </ion-text><br>
            {{ proprietaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Adresse : </ion-text><br>
            {{ adresse_proprietaire }}
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- affichage information véhicule carte grise -->
      <ion-list *ngIf="segment_constatation === 'carte_grise'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro dans la série du type : </ion-text><br>
            {{ numero_serie_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro moteur : </ion-text><br>
            {{ numero_moteur_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date de première mise en circulation : </ion-text><br>
            {{ date_premiere_circulation_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Carrosserie</ion-text><br>
            {{ carrosserie_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Type de carrosserie : </ion-text><br>
            {{ typ_car_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Genre : </ion-text><br>
            {{ genre_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Marque : </ion-text><br>
            {{ marque_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Source d'énergie : </ion-text><br>
            {{ source_energie_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Cylindre</ion-text><br>
            {{ cylindre_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Puissance</ion-text><br>
            {{ puissance_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids à vide : </ion-text><br>
            {{ poids_a_vide_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Charge utile : </ion-text><br>
            {{ charge_utile_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids total à charge : </ion-text><br>
            {{ ptac_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Hauteur : </ion-text><br>
            {{ hauteur_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Longueur : </ion-text><br>
            {{ longueur_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Largeur : </ion-text><br>
            {{ largeur_carte_grise }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nombre de place assise : </ion-text><br>
            {{ nombre_place_assis_carte_grise }}
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- affichage information véhicule corps du véhicule -->
      <ion-list *ngIf="segment_constatation === 'corps_vehicule'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro dans la série du type : </ion-text><br>
            {{ numero_serie_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro moteur : </ion-text><br>
            {{ numero_moteur_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date de première mise en circulation : </ion-text><br>
            {{ date_premiere_circulation_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Carrosserie</ion-text><br>
            {{ carrosserie_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Type de carrosserie : </ion-text><br>
            {{ typ_car_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Genre : </ion-text><br>
            {{ genre_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Marque : </ion-text><br>
            {{ marque_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Source d'énergie : </ion-text><br>
            {{ source_energie_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Cylindre</ion-text><br>
            {{ cylindre_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Puissance</ion-text><br>
            {{ puissance_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids à vide : </ion-text><br>
            {{ poids_a_vide_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Charge utile : </ion-text><br>
            {{ charge_utile_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids total à charge : </ion-text><br>
            {{ ptac_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Hauteur : </ion-text><br>
            {{ hauteur_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Longueur : </ion-text><br>
            {{ longueur_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Largeur : </ion-text><br>
            {{ largeur_corps_vehicule }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nombre de place assise : </ion-text><br>
            {{ nombre_place_assis_corps_vehicule }}
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- affichage information véhicule note descriptive -->
      <ion-list *ngIf="segment_constatation === 'note_descriptive'">
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro dans la série du type : </ion-text><br>
            {{ numero_serie_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Numéro moteur : </ion-text><br>
            {{ numero_moteur_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Date de première mise en circulation : </ion-text><br>
            {{ date_premiere_circulation_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Carrosserie</ion-text><br>
            {{ carrosserie_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Type de carrosserie : </ion-text><br>
            {{ typ_car_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Genre : </ion-text><br>
            {{ genre_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Marque : </ion-text><br>
            {{ marque_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Source d'énergie : </ion-text><br>
            {{ source_energie_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Cylindre</ion-text><br>
            {{ cylindre_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Puissance</ion-text><br>
            {{ puissance_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids à vide : </ion-text><br>
            {{ poids_a_vide_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Charge utile : </ion-text><br>
            {{ charge_utile_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Poids total à charge : </ion-text><br>
            {{ ptac_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Hauteur : </ion-text><br>
            {{ hauteur_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Longueur : </ion-text><br>
            {{ longueur_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Largeur : </ion-text><br>
            {{ largeur_note_descriptive }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Nombre de place assise : </ion-text><br>
            {{ nombre_place_assis_note_descriptive }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="content_message_visibility">
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-text color="primary">Erreur : </ion-text><br>
            {{ content_message_visibility }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <ion-item></ion-item>
    <ion-item></ion-item>
  </ion-content>
</div>
