<div class="ion-page" id="main-content">
  <ion-header [translucent]="true" class="ion-no-border" no-border>
    <ion-toolbar class="ion-no-border" no-border>
      <ion-buttons slot="start" class="text-color">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-no-border" no-border>
        <p class="header-style" class="ion-no-border" no-border>
          <ion-row class="ion-no-border text-centre" no-border>
            <ion-col text-left class="ion-no-border" no-border>
              <img class="header_logo" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr" float-left>
            </ion-col>
            <ion-col text-center class="ion-no-border text-centre" no-border>
              <p color="azure" class="text-color text-header">RECAPITULATION<br>INOPINE</p>
            </ion-col>
            <ion-col text-right class="ion-no-border header_button" no-border>
              <ion-button class="header_button" color="primary" (click)="deconnecterClick()" icon-only float-right>
                <ion-icon name="exit-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div>
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-text color="success">Immatriculation : </ion-text><br>
            {{ immatriculation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Nom chauffeur : </ion-text><br>
            {{ nom_chauffeur }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Contact chaffeur : </ion-text><br>
            {{ contact_chauffeur }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Nom propriétaire : </ion-text><br>
            {{ proprietaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Contact propiétaire : </ion-text><br>
            {{ contact_proprietaire }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Lieu de controle : </ion-text><br>
            {{ lieu_de_controle }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Date de controle : </ion-text><br>
            {{ date_controle }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Numéro feuille de controle : </ion-text><br>
            {{ feuille_de_controle }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Anomalie constaté : </ion-text><br>
            {{ anomalies_constater }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Papier retiré : </ion-text><br>
            {{ papiers_retirer }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Date de récupération : </ion-text><br>
            {{ date_recuperation }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Date limite de récupération : </ion-text><br>
            {{ date_limite }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Mise en fourrière : </ion-text><br>
            {{ mise_en_fourriere }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Vérificateur : </ion-text><br>
            {{ verificateur }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="success">Centre : </ion-text><br>
            {{ centre }}
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let sary of photo_liste">
          <img src="{{ image_url }}{{ sary }}" alt="Description de l'image">
        </ion-item>
      </ion-list>

      <br>

      <div text-center margin-top>
        <ion-button expand="block" color="secondary" (click)="terminer()" size="large">
          Terminer
        </ion-button>
      </div>
    </div>

    <ion-item></ion-item>
    <ion-item></ion-item>
  </ion-content>
</div>
