/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-background-color: rgb(0, 0, 0);
  --ion-text-color: rgb(255, 255, 255);
}

body {
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
  visibility: hidden;
}

.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
  visibility: hidden;
}

body.qr-code {
  transform: scaleX(-1);
}

.qr-code {
  transform: scaleX(-1);
}

.header-style {
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.header_logo_left {
  font-size: 50px;
  text-align: left;
  --text-align: left;
  align-content: left;
  align-items: left;
  --align-items: left;
  --text-align: left;
  --align-content: left;
  --align : "left";
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.header_logo_right {
  font-size: 50px;
  max-width: 50px;
  float: right;
  text-align: right;
  --text-align: right;
  align-content: right;
  align-items: right;
  --align-items: right;
  --text-align: right;
  --align-content: right;
  --align : "right";
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.header_button {
  text-align: right;
  align-content: right;
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ion-no-border {
  border: none !important;
}

.text-color{
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.text-header{
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.login-style {
  text-align: center;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.text-centre{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text-left{
  text-align: left;
  align-items: left;
  justify-content: left;
}

.text-right{
  text-align: right;
  align-items: right;
  justify-content: right;
}

.login_logo {
  font-size: 25px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  display: block;
  width: 75px;
  height: 75px;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.message {
  font-size: 12px;
  text-align: center;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

/* Définir la couleur d'arrière-plan uniforme */
ion-content {
  --ion-background-color: #1f1e1e; /* Couleur d'arrière-plan uniforme */
  //background-color: #1f1e1e;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

/* Définir la couleur de premier plan uniforme */
ion-item {
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

ion-header {
  padding : 0px;
  margin : 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  border-color: transparent;
  overflow: hidden;
  font-size: 16px;
  --font-size: 16px;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
  font-weight:bold;
}

ion-footer ion-toolbar ion-title {
  font-size: x-small;
  color: white;
  text-align: center;
}

ion-header ion-toolbar ion-title {
    text-align: center;
}

.menu_logo {
  width: 40px;
  height: 40px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.titre-menu{
  font-size: 24px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: azure;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
  color: azure;
}

.container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.container a {
  text-decoration: none;
  color: azure;
}

.titre_photo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

img{
  width: 400px;
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

ion-label {
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.icon_button {
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

ion-toolbar{
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

ion-app{
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

ion-content{
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

ion-menu{
  background-color: var(--ion-background-color);
  --background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  --color: var(--ion-text-color);
  background: var(--ion-background-color);
  --background: var(--ion-background-color);
}

.visite-background-inapte {
  --background: red; /* Changer la couleur de fond personnalisée ici */
  --color: black;
}

.visite-background-apte {
  --background: green; /* Changer la couleur de fond personnalisée ici */
  --color: black;
}

/* Appliquer le style personnalisé ici */
ion-input .label-text {
  color: rgb(62, 112, 219) !important;
}

.bouton_qrcode {
--color: var(--ion-text-color);
color: var(--ion-text-color);
}

ion-card {
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.custom-alert .alert-title {
  background-color: red; /* Change l'arrière-plan de l'en-tête en rouge */
  color: white; /* Change la couleur du texte en blanc */
  padding: 10px; /* Optionnel : ajouter du padding pour un meilleur espacement */
  border-top-left-radius: 10px; /* Optionnel : arrondir les coins */
  border-top-right-radius: 10px; /* Optionnel : arrondir les coins */
}
