<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p class="header-style"><img class="header_logo" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr" float-left>&nbsp;&nbsp;&nbsp;Controle inopiné</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulaire de controle inopiné</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Immatriculation" labelPlacement="floating" placeholder="Entrer Immatriculation ici ..." [(ngModel)]="immatriculation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nom Chauffeur" labelPlacement="floating" placeholder="Entrer Nom Chauffeur ici ..." [(ngModel)]="nom_chauffeur"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contact Chauffeur" labelPlacement="floating" placeholder="Entrer Contact Chauffeur ici ..." [(ngModel)]="contact_chauffeur"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Numero Feuille de Contrôle" labelPlacement="floating" placeholder="Entrer Numero Feuille de Controle ici ..." [(ngModel)]="feuille_de_controle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nom Propriétaire" labelPlacement="floating" placeholder="Entrer Nom Propriétaire ici ..." [(ngModel)]="proprietaire"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contact Propriétaire" labelPlacement="floating" placeholder="Entrer Contact Propriétaire ici ..." [(ngModel)]="contact_proprietaire"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Lieu de Contrôle" labelPlacement="floating" placeholder="Entrer Lieu de Controle ici ..." [(ngModel)]="lieu_de_controle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Anomalies constaté" labelPlacement="floating" placeholder="Selectionner Anomalies constater ici ..." [multiple]="true" [(ngModel)]="anomalies_constater">
        <ion-select-option *ngFor="let c of anomalies" value="{{ c.id }}">{{ c.code }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Papiers retiré" labelPlacement="floating" placeholder="Selectionner Papiers retiré ici ..." [multiple]="true" [(ngModel)]="papiers_retirer">
        <ion-select-option *ngFor="let c of papiers" value="{{ c.id }}">{{ c.papier }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-datetime presentation="date" label="Date de récupération" labelPlacement="floating" placeholder="Entrer Date de récupération ici ..." [(ngModel)]="date_recuperation">
        <span slot="title">Date de récupération</span>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-datetime presentation="date" label="Date limite récupération" labelPlacement="floating" placeholder="Entrer Date limite récupération ici ..." [(ngModel)]="date_fin_recuperation">
        <span slot="title">Date limite récupératione</span>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-checkbox justify="start" [(ngModel)]="mise_en_fourriere">Mise en Fourrière</ion-checkbox>
    </ion-item>
  </ion-list>

  <br>

  <div text-center margin-top>
    <ion-button expand="block" color="secondary" (click)="sendControleClick()"  size="large">
      Valider
    </ion-button>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title><p class="footer-style">Copyright © 2024 Direction Générale de la Sécurité Routière</p></ion-title>
  </ion-toolbar>
</ion-footer>
