<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true" class="ion-no-border" no-border>
      <ion-toolbar class="ion-no-border" no-border>
        <ion-buttons slot="start" class="text-color">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-no-border" no-border>
          <p class="header-style" class="ion-no-border" no-border>
            <ion-row class="ion-no-border text-centre" no-border>
              <ion-col text-center class="ion-no-border text-centre" no-border>
                <p color="azure" class="text-color text-header">i-Tsirika</p>
              </ion-col>
              <ion-col text-right class="ion-no-border header_button" no-border>
                <img class="header_logo_right" src="../../assets/image/logo_dgsr.png" alt="logo_dgsr" float-right>
              </ion-col>
            </ion-row>
          </p>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list><ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" fill="outline" routerLink="/consultation" *ngIf="estUtilisateur()">
            <ion-icon slot="start" name="construct-outline" color="primary"></ion-icon>
            <ion-label color="primary">Consultation</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" fill="outline" routerLink="/inopine" *ngIf="estControleur()">
            <ion-icon slot="start" name="hand-left-outline" color="secondary"></ion-icon>
            <ion-label color="secondary">Inopiné</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" fill="outline" routerLink="/contre" *ngIf="estControleur()">
            <ion-icon slot="start" name="medkit-outline" color="tertiary"></ion-icon>
            <ion-label color="tertiary">Contre</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" fill="outline" routerLink="/qrcode" *ngIf="estUtilisateur()">
            <ion-icon slot="start" name="qr-code-outline" style="color: white;"></ion-icon>
            <ion-label style="color: white;">QR-Code</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" fill="outline" routerLink="/apropos" *ngIf="estUtilisateur()">
            <ion-icon slot="start" name="accessibility-outline" color="medium"></ion-icon>
            <ion-label color="medium">A propos</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" fill="outline" (click)="deconnecterClick()" *ngIf="estUtilisateur()">
            <ion-icon slot="start" name="warning" color="warning"></ion-icon>
            <ion-label color="warning">Déconnecter</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" fill="outline" (click)="quitterClick()">
            <ion-icon slot="start" name="exit-outline" color="danger"></ion-icon>
            <ion-label color="danger">Quitter</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-list>
    <ion-item></ion-item>
    <ion-item></ion-item>
  </ion-content>
</div>
