#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: azure;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: azure;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
  color: azure;
}

.footer-style {
  font-size: 12px;
  text-align: center;
  color: azure;
  //background-color: #1f1e1e;
}

.header-style {
  font-size: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: azure;
  //background-color: #1f1e1e;
}

.text-centre{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header_logo {
  font-size: 25px;
  text-align: left;
  align-content: left;
  display: block;
  //--background: #EFF6FD url('../../../assets/images/logo_dgsr.png') no-repeat 100% 100%;
  width: 50px;
  height: 50px;
  color: azure;
  background-color: #1f1e1e;
}

.header_button {
  //font-size: 20px;
  text-align: right;
  align-content: right;
  align-items: right;
  margin: 0px;
  padding: 0px;
  //display: block;
  //--background: #EFF6FD url('../../../assets/images/logo_dgsr.png') no-repeat 100% 100%;
  width: 50px;
  height: 50px;
  color: azure;
  //background-color: #1f1e1e;
}

#fake-click {
  display: none;
  color: azure;
  background-color: #1f1e1e;
}

.text-color{
  color: azure;
  //background-color: #1f1e1e;
  //font-size: 14px;
}

.text-footer{
  font-size: 12px;
}

.text-header{
  font-size: 24px;
}

/* Définir la couleur d'arrière-plan uniforme */
ion-content {
  --ion-background-color: #1f1e1e; /* Couleur d'arrière-plan uniforme */
  //background-color: #1f1e1e;
  color: azure;
}

/* Définir la couleur de premier plan uniforme */
ion-item {
  --ion-color: #faf7f7; /* Couleur de premier plan uniforme */
  //background-color: #1f1e1e;
  color: azure;
}

ion-header {
  //--ion-color: #faf7f7; /* Couleur de premier plan uniforme */
  //background-color: #1f1e1e;
  //color: azure;
  --background:var(--ion-background-color)
  padding : 0px;
  margin : 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
  border-color: transparent;
  overflow: hidden;
  font-size: 16px;
  --font-size: 16px;
}

ion-footer {
  //--ion-color: #faf7f7; /* Couleur de premier plan uniforme */
  //background-color: #1f1e1e;
  /* --background:var(--ion-background-color) */
  padding : 0px;
  margin : 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
  border-color: transparent;
  overflow: hidden;
  font-size: 8px;
  --font-size: 8px;
}

/* :root{
  --ion-background-color: #1f1e1e;
  //background-color: #1f1e1e;
  color: azure;
}

@media only screen and (min-width: 0px) {
  :root {
    --ion-background-color: #1f1e1e;
  }
}

body, ion-app {
  --ion-color: #faf7f7;
  background-color: #1f1e1e;
  --background:var(--ion-background-color)
} */
